#footer {
  background-color: #485563;
  position: relative;
  padding: 10px;
  border-top: .5px solid#778ea6;
  .footer-container {
    width: 100%;
    padding: 10px;
    height: 123px;
  }
  .disclaimer {
    border-top: 1px solid $brand-gray-border;
    // padding: 10px 0;

    p {
      font-size: .8em;
      padding: 5px;
      text-align: center;
    }
  }
}
