// ==================================================
// Basic Styles
// ==================================================
* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: $section-color-background;
  color: $section-color-text;
}

html,
body {
  background-color: #3c3c3c;
  height: 100%;
  margin: 0;
  min-height: 100%;
}

body {
  color: $default-text-color;
  font: 14px / 24px $font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;



  &.scroll {
    overflow: hidden;
  }

}

p:empty {
  display: none;
}
